pkgbase = osu-lazer-appimage-zsync
	pkgdesc = A free-to-win rhythm game. Rhythm is just a click away!
	pkgver = 2020.1204.0
	pkgrel = 1
	url = https://github.com/ppy/osu
	arch = x86_64
	license = MIT
	makedepends = zsync-curl
	makedepends = git
	depends = ffmpeg
	depends = zlib
	provides = osu-lazer
	provides = osu
	conflicts = osu-lazer
	conflicts = osu
	options = !strip
	source = osu-lazer.png::https://github.com/ppy/osu/raw/master/assets/lazer.png
	source = LICENCE::https://github.com/ppy/osu/raw/master/LICENCE
	source = osu-lazer.desktop
	sha256sums = 36f73cfe0a84cd65a8bb54fcde5a01c419b134bee4a88cc92eb4f33236343a10
	sha256sums = e60cde328f1484d4b1505e3e7d446b1052635fddad7f59393a2d458132181e6c
	sha256sums = c9a8fb0f0711338b98aa12e6e8c30889ca475e7f181578637416b0083c58c663

pkgname = osu-lazer-appimage-zsync

