pkgbase = gsn-git
	pkgdesc = GSN is a tool that generates the stupidest, most f#cked-up nicknames.
	pkgver = v1.0.2.r12.gda9b903
	pkgrel = 1
	url = https://github.com/workonfire/GSN
	arch = x86_64
	license = WTFPL
	depends = python-colorama
	depends = python-unidecode
	provides = gsn
	conflicts = gsn
	conflicts = gsn-java
	conflicts = gsn-bash
	source = gsn-git::git+https://github.com/workonfire/gsn.git
	sha256sums = SKIP

pkgname = gsn-git

